*{
    background-color: black;
}
#home{
    height: 90vh;
}
/*body > header {
    height: 100px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: right;
    right: 85px;
    color: white;
}
header > nav {
    font-size: 30px;
    font-weight: 70;
    color: white;
    text-decoration-line: none;
}
header>#abt{
    color: white;
    text-decoration-line: none;
}

header > nav > ul > li {
    display: inline;
    margin-left: 35px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
    text-decoration-line: none;
}

header > nav > ul > li:hover {
    color: white;
}*/
body > header {
    position: relative;
    height: 100px;
    box-shadow: 5px 6px 10px 1px rgba(0, 0, 0, 0.062);
    z-index: 1;
    display: flex;
    justify-content: right;
    right: 85px;

}
header > nav {
    font-size: 30px;
    font-weight: 70;
    color: white;
}

header > nav > ul > li {
    display: inline;
    margin-left: 35px;
    margin-right: 20px;
    cursor: pointer;
}
header > nav > ul > li> b >a{
    color: white;
    text-decoration: none;
}

header > nav > ul > li> b >a:hover {
    color: deepskyblue;
}


#first{
    color: white;
    position: relative;
    margin: auto;
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: 90px;
    line-height: 50px;
    margin-left: 950px;
    bottom: 600px;
}
#second{
    color: white;
    position: relative;
    margin: auto;
    font-weight: normal;
    font-size: 62px;
    line-height: 90px;
    margin-left: 850px;
    bottom: 630px;
    font-family: "Qwigley";

}
#links{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    line-height: 50px;
    margin-left: 1200px;
    padding-left: 50px;
    bottom: 350px;
    width: 120px;
    height: 20px;
    cursor: pointer;
    justify-content: center;

}

#home>h1{
    position: absolute;
    left: 40.57%;
    right: 45.66%;
    top: 60.56%;
    bottom: 50.44%;
    border: 3px solid #E5ECEE;
    margin-left: 30px;

}
#home>h2{
    position: absolute;
    left: 80.76%;
    right: 1.66%;
    margin-right: 100px;
    top: 60.3%;
    bottom: 57.7%;
    border: 3px solid #DCE6E8;
}


#about{
    height: 110vh;
}

#about>div>img{
    width: 400px;
    height: 400px;
    margin-left: 1500px;
    border-radius: 100%;
    background-color: #1b57a3;
    position: absolute;
    left: 0;
    top: 1130px;
}

#about>p>b{
    position: absolute;
    width: 142px;
    height: 82px;
    margin-left: 820px;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 70px;
    top: 1000px;
    color: deepskyblue;

}
#about>h1{
    position: absolute;
    width: 155px;
    height: 0px;
    border: 3px solid #0BAFD2;
    left: 845px;
    top: 1085px;
}

#about>#im>h1{
    position: absolute;
    color: white;
    letter-spacing: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 79px;
    height: 56px;
    
    left: 100px;
    top: 1100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 56px;
    bottom: -200px;
}

#about>div>p{
    position: absolute;
    color: white;
    
    top: 1150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 38px;
    margin-left: 280px;

    margin-bottom: 70px;
    right: 700px;


}

#about>#detail>h2{
   /* position: absolute;*/
    position: relative;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 20px;
    top: 500px;
    margin-left: 280px;

}

#about>div>p>h1{
    color: #49DC72;
}


#about>div>h2{
    color: white;
    bottom: 40px;
}



/*-----------------------------------------------------------*/


#Education{
    height: 110vh;
    position: relative;
    color: white;
    font-size: 24px;
    bottom: 0px;
    top: 50px;

}

#Education>h1{
    position: absolute;
    width: 155px;
    height: 0px;
    border: 3px solid #0BAFD2;
    left: 880px;
    top: 60px;

}


#Education>p>b{
    position: absolute;
    width: 142px;
    height: 82px;
    margin-left: 820px;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 70px;
    color: deepskyblue;
}

/*
#education{
    height: 125vh;
}
*/


/*#Education>h1{
    position: relative;
    width: 1925px;
    height: 96px;
    left: -2px;
    top: 114px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    color: #A4B0BE;
}
#Education>h2{
    position: relative;
    width: 6514px;
    height: 94px;
    left: -2297px;
    top: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #FFFFFF;
}*/
/*#Education>h3{
    position: relative;
    width: 270px;
    height: 0px;
    left: 820px;
    top: -64px;
    border: 2px solid #4BFFA5;
}*/


#Education>#pe{
    position: relative;
    width: 535px;
    height: 134px;
    left: 1289px;
    top: 584px;
    background: rgba(53, 59, 72, 0.85);
    /*box-shadow: 10px 10px 20px rgb(75 255 165 / 50%);*/
}
#Education>#pe>h1  {
    position: relative;
    width: 533px;
    height: 0px;
    left: 2px;
    top: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 50px;
    color: white;

}
#Education>#pe>h2{
    position: absolute;
    width: 422px;
    height: 33px;
    left: 4px;
    top: -64px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 23px;
    color: #FFFFFF;

}
#Education>#pe>#outRound{
    position: relative;
    width: 40px;
    height: 40px;
    left: -56px;
    top: -73px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100%;
}

#Education>#pe>#inRound{
    position: relative;
    width: 27px;
    height: 26px;
    left: -49px;
    top: -127px;
    background: #0BAFD2;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 100%;
}
#Education>#pe>#inRound>h1{
    position: relative;
    width: 256.02px;
    height: 0px;
    left: -118px;
    top: -149px;
    border: 4px dashed #FFFFFF;
    transform: rotate(
            -90deg
    );
}

#Education>#se{
    position: relative;
    width: 535px;
    height: 134px;
    left: 1280px;
    top: 114px;
    background: rgba(53, 59, 72, 0.85);
   /* box-shadow: 10px 10px 20px rgb(75 255 165);*/


}
#Education>#se>h1{
    position: relative;
    width: 531px;
    height: 0px;
    left: 2px;
    top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 50px;
    color: white;
}
#Education>#se>h2{
    position: absolute;
    width: 432px;
    height: 33px;
    left: 4px;
    top: -62px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 23px;
    color: #FFFFFF;
}
#Education>#se>#outRound1{
    position: relative;
    width: 40px;
    height: 40px;
    left: -48px;
    top: -73px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100%;
}
#Education>#se>#inRound1{
    position: relative;
    width: 26px;
    height: 26px;
    left: -40px;
    top: -127px;
    background: #0BAFD2;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 100%;
}
#Education>#se>#inRound1>h1{
    position: relative;
    width: 256.02px;
    height: 0px;
    left: -118px;
    top: -147px;
    border: 4px dashed #FFFFFF;
    transform: rotate(-90deg);
}
#Education>#he{
    position: relative;
    width: 535px;
    height: 134px;
    left: 1272px;
    top: -348px;
    background: rgba(53, 59, 72, 0.85);
   /* box-shadow: 10px 10px 20px rgb(75 255 165 / 50%);*/

}
#Education>#he>h1{
    position: relative;
    width: 533px;
    height: 0px;
    left: 2px;
    top: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 50px;
    color: white;
}
#Education>#he>h2{
    position: absolute;
    width: 422px;
    height: 33px;
    left: 7px;
    top: -75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 23px;
    color: #FFFFFF;
}
#Education>#he>#outRound2{
    position: relative;
    width: 40px;
    height: 40px;
    left: -42px;
    top: -81px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100%;

}
#Education>#he>#inRound2{
    position: relative;
    width: 26px;
    height: 26px;
    left: -35px;
    top: -135px;
    background: #0BAFD2;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 100%;
}
#Education>#die{
    position: relative;
    width: 535px;
    height: 134px;
    left: 119px;
    top: 78px;
    background: rgba(53, 59, 72, 0.85);
  /*  box-shadow: 10px 10px 20px rgb(75 255 165 / 50%);*/
}
#Education>#die>h1{
    position: relative;
    width: 533px;
    height: 0px;
    left: 7px;
    top: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 50px;
    color: white;
}
#Education>#die>h2{
    position: absolute;
    width: 567px;
    height: 33px;
    left: 4px;
    top: -74px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 32px;
    color: #FFFFFF;
}
#Education>#die>#outRound3{
    position: relative;
    width: 40px;
    height: 40px;
    left: -43px;
    top: -76px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100%;

}
#Education>#die>#inRound3{
    position: relative;
    width: 26px;
    height: 26px;
    left: -36px;
    top: -130px;
    background: #0BAFD2;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 100%;

}
#Education>#die>#inRound3>h1{
    position: relative;
    width: 256.02px;
    height: 0px;
    left: -118px;
    top: -145px;
    border: 4px dashed #FFFFFF;
    transform: rotate(
            -90deg
    );

}
#Education>#software{
    position: relative;
    width: 535px;
    height: 134px;
    left: 119px;
    top: -400px;
    background: rgba(53, 59, 72, 0.85);
    /*box-shadow: 10px 10px 20px rgb(75 255 165 / 50%);*/
    box-shadow: 10px 10px 20px rgb(75 255 165);
}
#Education>#software>h1{
    position: relative;
    width: 533px;
    height: 0px;
    left: 10px;
    top: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 50px;
    color: white;
}
#Education>#software>h2{
    position: absolute;
    width: 633px;
    height: 33px;
    left: 2px;
    top: -70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 32px;
    color: #FFFFFF;
}
#Education>#software>#outRound4{
    position: relative;
    width: 40px;
    height: 40px;
    left: -46px;
    top: -68px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100%;

}
#Education>#software>#inRound4{
    position: relative;
    width: 26px;
    height: 26px;
    left: -39px;
    top: -122px;
    background: #0BAFD2;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 100%;
}



/*-------------------------------------------*/

#skill{
    height: 70vh;
}

#skill>p>b{
    position: absolute;
    width: 142px;
    height: 82px;
    margin-left: 880px;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 70px;
    top: 3000px;
    color: deepskyblue;

}

#skill>h1{
    position: absolute;
    width: 165px;
    height: 0px;
    border: 3px solid #0BAFD2;
    left: 880px;
    top: 3080px;
}
#skill>#ps>h1{
    color: white;
    position: absolute;
    top: 3600px;
    right: 0;
    left: 0;
}
#slider {
    height: 342px;
    width: 1776px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 100px;

}

#slid-con-div {
    width: 2500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 3107px;
    margin-left: 1828px;
    animation: scroll 10s linear alternate;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    cursor: pointer;
}

@keyframes scroll {
    from {
        margin-left: 1828px;
    }
    to {
        margin-left: -1821px;
    }
}

.slid-div {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: #212428;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
}


.img-div {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 15px solid antiquewhite;
}

#img_1 {
    background-image: url("../logo/java.png");
}

#img_2 {
    background-image: url("../logo/html.png");
}

#img_3 {
    background-image: url("../logo/css.png");
}

#img_4 {
    background-image: url("../logo/mysql.png");
}

#img_5 {
    background-image: url("../logo/figma.png");
}

#img_6 {
    background-image: url("../logo/python.png");
}

#img_7 {
    background-image: url("../logo/ps.png");
}

#skill>div>h1{
    position: absolute;
    width: 1912px;
    height: 54px;
    left: 22px;
    top: 1940px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    color: white;


}
#skill>div>h2{
    position: absolute;
    width: 1920px;
    height: 94px;
    left: 15px;
    top: 1952px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #FFFFFF;
}
#skill>div>h2>span{
    position: absolute;
    width: 270px;
    height: 0px;
    left: 822px;
    top: 97px;
    border: 2px solid #0BAFD2;

}

#experience{
    height: 80vh;

}
#experience>div>h1{
    position: relative;
    width: 573px;
    left: 656px;
    top: 76px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 49px;
    text-align: left;
    color: white;
}
#experience>div>h1>span{
    position: absolute;
    width: 562px;
    height: 94px;
    left: 5px;
    top: 38px;
    font-family: Rammetto One;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 94px;
    text-align: center;
    color: #FFFFFF;
}

#experience>div>h2{
    position: relative;
    width: 270px;
    height: 0px;
    left: 796px;
    top: 148px;
    border: 2px solid #9DFFF9;

}
#experience>#yearXp{
    position: relative;
    width: 557px;
    height: 301px;
    left: 49px;
    top: 235px;
    border: 1px solid white;
}
#experience>#yearXp>h1 {
    position: relative;
    width: 123px;
    height: 100px;
    left: 1px;
    top: -3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 85px;
    line-height: 100px;
    color: #9DFFF9;
}
#experience>#yearXp>h1>span{
    position: absolute;
    width: 53px;
    height: 40px;
    left: 116px;
    top: -50px;
    color: #0BAFD2;
}
#experience>#yearXp>h2 {
    position: absolute;
    width: 92px;
    height: 0px;
    left: 16px;
    top: 126px;
    border: 2px solid #0BAFD2;
}
#experience>#yearXp>h3{
    position: relative;
    width: 290px;
    height: 162px;
    left: 207px;
    top: -111px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    font-size: 66px;
    color: #FFFFFF;

}
#experience>#project{
    position: relative;
    width: 557px;
    height: 301px;
    left: 662px;
    top: -68px;
    border: 1px solid white;
}

#experience>#project>h1{
    position: absolute;
    width: 123px;
    height: 100px;
    left: 5px;
    top: -2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 85px;
    line-height: 100px;
    color: #9DFFF9;
}
#experience>#project>h1>span{
    position: absolute;
    width: 53px;
    height: 40px;
    left: 116px;
    top: -53px;
    color: #0BAFD2;
}
#experience>#project>h2{
    position: absolute;
    width: 92px;
    height: 0px;
    left: 19px;
    top: 126px;
    border: 2px solid #0BAFD2;
}
#experience>#project>h3{
    position: absolute;
    width: 336px;
    height: 162px;
    left: 207px;
    top: 53px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
}
#experience>#Assignment{
    position: relative;
    width: 557px;
    height: 301px;
    left: 1275px;
    top: -371px;
    border: 1px solid white;
}
#experience>#Assignment>h1 {
    position: absolute;
    width: 123px;
    height: 94px;
    left: 10px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 85px;
    line-height: 100px;
    color: #9DFFF9;
}
#experience>#Assignment>h1>span{
    position: absolute;
    width: 53px;
    height: 40px;
    left: 113px;
    top: -53px;
    color: #0BAFD2;
}
#experience>#Assignment>h2{
    position: absolute;
    width: 92px;
    height: 0px;
    left: 29px;
    top: 126px;
    border: 2px solid #0BAFD2;
}
#experience>#Assignment>h3{
    position: absolute;
    width: 336px;
    height: 162px;
    left: 194px;
    top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;

}


#myProject{
    height: 180vh;
}

#myProject>p>b{
    position: absolute;
    width: 142px;
    height: 82px;
    margin-left: 880px;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 70px;
    top: 4420px;
    color: deepskyblue;

}

/*#myProject>h1{
    position: absolute;
    width: 165px;
    height: 0px;
    border: 3px solid #0BAFD2;
    left: 880px;
    top: 3080px;
}*/

/*#myProject>h1{
    position: relative;
    width: 618px;
    height: 0px;
    left: 636px;
    top: 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    color: #A4B0BE;
}*/
/*#myProject>h2{
    position: relative;
    width: 623px;
    height: 0px;
    left: 619px;
    top: -10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #FFFFFF;

}*/
#myProject>h3{
    position: relative;
    width: 200px;
    height: 0px;
    left: 890px;
    top: -5px;
    border: 3px solid deepskyblue;

}
#myProject>#lib{
    position: relative;
    width: 539px;
    height: 314px;
    left: 38px;
    top: 65px;
    background: #353B48;
    border: 3px solid white;
    box-sizing: border-box;
}
#myProject>#lib>img{
    position: relative;
    width: 518px;
    height: 237px;
    left: 5px;
    top: 3px;
}
#myProject>#lib>h1{
    position: relative;
    width: 297px;
    height: 0px;
    left: 6px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
#myProject>#hotel{
    position: relative;
    width: 539px;
    height: 314px;
    left: 647px;
    top: -253px;
    background: #353B48;
    border: 3px solid white;
    box-sizing: border-box;
}
#myProject>#hotel>img{
    position: relative;
    width: 518px;
    height: 237px;
    left: 6px;
    top: 3px;
}
#myProject>#hotel>h1{
    position: relative;
    width: 297px;
    height: 0px;
    left: 7px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
#myProject>#parking{
    position: relative;
    width: 539px;
    height: 314px;
    left: 1270px;
    top: -565px;
    background: #353B48;
    border: 3px solid white;
    box-sizing: border-box;
}
#myProject>#parking>img{
    position: relative;
    width: 518px;
    height: 237px;
    left: 7px;
    top: 2px;
}
#myProject>#parking>h1{
    position: relative;
    width: 297px;
    height: 0px;
    left: 8px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
#myProject>#pos{
    position: relative;
    width: 539px;
    height: 314px;
    left: 39px;
    top: -530px;
    background: #353B48;
    border: 3px solid white;
    box-sizing: border-box;

}
#myProject>#pos>img{
    position: relative;
    width: 518px;
    height: 237px;
    left: 9px;
    top: 2px;
}
#myProject>#pos>h1{
    position: relative;
    width: 297px;
    height: 0px;
    left: -81px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
#myProject>#web{
    position: relative;
    width: 539px;
    height: 314px;
    left: 644px;
    top: -841px;
    background: #353B48;
    border: 3px solid white;
    box-sizing: border-box;
}
#myProject>#web>img{
    position: relative;
    width: 518px;
    height: 237px;
    left: 8px;
    top: 2px;
}
#myProject>#web>h1{
    position: relative;
    width: 297px;
    height: 0px;
    left: -73px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
/*#myProject>#btn{
    position: relative;
    width: 245px;
    height: 67px;
    left: 1330px;
    top: -920px;
    border: 3px solid #4BFFA5;
    box-sizing: border-box;
    border-radius: 100px;
}
#myProject>#btn>h1{
    position: relative;
    width: 163px;
    height: 38px;
    left: 40px;
    top: -11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}*/
#activity_btn {
    position: relative;
    top: 18%;
    right: 111px;
    left: -89px;
    margin: auto;
    width: 100px;
}

.see_more_btn:hover {
    color: #cb4eff;
}

.see_more_btn {
    width: 264px;
    height: 72px;
    border: 5px solid #2ae7d0;
    background-color: #1ee5ce;
    border-radius: 68px;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 5px rgb(0 0 0);
    color: white;
    line-height: 34px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-family: 'Saira Condensed', sans-serif;
    margin-top: -972px;
    margin-left: 627px;
    top: -1300px;
    position: relative;
}

#contact{
    height: 30vh;
    /*background-color: darkmagenta;*/
}

#contact>p>b{
    position: absolute;
    width: 142px;
    height: 82px;
    margin-left: 880px;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 70px;
    top: 5400px;
    color: deepskyblue;

}


#contact>h1{
    position: absolute;
    width: 165px;
    height: 0px;
    border: 3px solid #0BAFD2;
    left: 900px;
    top: 5480px;
}

/*#contact>h1{
    position: relative;
    width: 620px;
    height: 0px;
    left: 636px;
    top: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    color: #A4B0BE;

}*/
/*#contact>h2{
    position: relative;
    width: 510px;
    height: 0px;
    left: 688px;
    top: -26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #FFFFFF;

}*/
/*#contact>h3{
    position: relative;
    width: 240px;
    height: 0px;
    left: 890px;
    top: -10px;
    border: 3px solid deepskyblue;
}*/
#contact>#info>h1{
    position: relative;
    width: 361px;
    height: 0px;
    left: 1143px;
    top: -29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 76px;
    color: #FFFFFF;
}
#contact>#info>p1{
    position: relative;
    width: 0px;
    height: 0px;
    left: 1149px;
    top: 11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    color: white;

}
#contact>#info{
    width: 100px;
    height: 0px;
}
#contact>#icn{

    width: 0px;
    /* left: 443px; */
    margin-left: 1152px;
    /* top: 428px; */
    margin-top: 237px;
    line-height: 10vh;


}
#contact>#icn>h1{
    position: relative;
    width: 463px;
    height: 0px;
    left: -89px;
    top: -301px;
    border: 2px solid #FFFFFF;
    transform: rotate(
            -90deg
    );
}
#contact>#name>h1 {
    position: relative;
    width: 120px;
    height: 53px;
    left: 1371px;
    top: -565px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;
}
#contact>#name>h2{
    position: relative;
    width: 244px;
    height: 38px;
    left: 1371px;
    top: -601px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: white;

}
#contact>#location>h1{
    position: relative;
    width: 120px;
    height: 53px;
    left: 1371px;
    top: -589px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;
}
#contact>#location>h2{
    position: relative;
    width: 379px;
    height: 0px;
    left: 1371px;
    top: -622px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: white;
}
#contact>#call>h1{
    position: relative;
    width: 162px;
    height: 53px;
    left: 1371px;
    top: -575px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;
}
#contact>#call>h2{
    position: relative;
    width: 379px;
    height: 0px;
    left: 1371px;
    top: -610px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: white;
}

#contact>#email>h1{
    position: relative;
    width: 162px;
    height: 53px;
    left: 1371px;
    top: -560px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;
    margin-right: 0px;
}
#contact>#email>h2{
    position: relative;
    width: 379px;
    height: 0px;
    left: 1371px;
    top: -596px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: white;
}

#contact>#moreInfo{
    position: relative;
    display: flex;
    width: max-content;
    height: 0px;
    width: 30px;
    justify-content: space-between;
    z-index: 100;
    flex-direction: row;
    align-items: center;
    position: relative;
    right: 0px;
    top: -736px;
    bottom: -1039px;
    margin: auto;
    margin-right: 40px;

}

#contact>#link{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    line-height: 50px;
    margin-left: 1310px;
    padding-left: 50px;
    bottom: -5300px;
    width: 120px;
    height: 20px;
    cursor: pointer;
    justify-content: left;

}
/*#contact>#moreInfo>img {
    width: 5px;
    margin: 4px;
    cursor: pointer;
}*/
#contact>#moreInfo>h1 {
    position: absolute;
    width: 170px;
    height: 0px;
    left: -213px;
    top: -23px;
    border: 3px solid white;
}
#chatBox{
    position: relative;
    display: flex;
    height: 237px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    bottom: 268px;
    top: -1016px;
    left: -905px;
    width: 0px;
    line-height: 4vh; background-color: #A4B0BE;
}

.lbl{
    left: 3px;
    position: absolute;
    color: white;;
    margin-top: 31px;
    font-weight: bold;
    font-size: 33px;
    display: inline;
    /* width: 1656px; */
    width: 164px;
    height: 0px;
    width: 163px;
    /* top: -183px; */
    /* top: 100px; */
    margin-top: -6px;
    /* margin-left: 6px; */
    font-family: 'Saira Condensed', sans-serif;
}
.inp{
    border: 4px black;
    width: 643px;
    height: 44px;
    font-size: 26px;
    background-color:#353B48;;
}
.inp2{
    border: 4px black;
    width: 643px;
    font-size: 26px;
    border-radius: 20px;
    background-color: #353B48;;
}
#contactBtnDiv{
    position: absolute;
    margin: auto;
    left: 490px;
}
#contactBtn{
    width: 161px;
    height: 53px;
    background: #18E5CD;
    box-shadow: -1px 2px 16px #18e5cd;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: black;
    border: 0;
    font-family: 'Saira Condensed', sans-serif;
}
#contactBtn:hover{
    color: white;
    cursor: pointer;
}




