*{
    background-color: black;
}
#home{
   /* height: 50vh;*/
   /* width: 864px;*/
    height: 90vh;
}
body > header {
    height: 100px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: right;
    right: 85px;
}
header > nav {
    font-size: 30px;
    font-weight: 70;
    color: white;
}

header > nav > ul > li {
    display: inline;
    margin-left: 35px;
    margin-right: 20px;
    cursor: pointer;
}

header > nav > ul > li:hover {
    color: deepskyblue;
}

#first{
    color: white;
    position: relative;
    margin: auto;
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: 90px;
    line-height: 50px;
    margin-left: 950px;
    bottom: 600px;
}
#second{
    color: white;
    position: relative;
    margin: auto;
    font-weight: normal;
    font-size: 62px;
    line-height: 90px;
    margin-left: 850px;
    bottom: 630px;
    font-family: "Qwigley";

}
#links{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    line-height: 50px;
    margin-left: 1200px;
    padding-left: 50px;
    bottom: 350px;
    width: 120px;
    height: 20px;
    cursor: pointer;
    justify-content: center;

}

#home>h1{
    position: absolute;
    left: 40.57%;
    right: 45.66%;
    top: 60.56%;
    bottom: 50.44%;
    border: 3px solid #E5ECEE;
    margin-left: 30px;

}
#home>h2{
    position: absolute;
    left: 80.76%;
    right: 1.66%;
    margin-right: 100px;
    top: 60.3%;
    bottom: 57.7%;
    border: 3px solid #DCE6E8;
}


#about{
    height: 90vh;
}

#about>div>img{
    width: 400px;
    height: 400px;
    margin-left: 1500px;
    border-radius: 100%;
    background-color: #1b57a3;
    position: absolute;
    left: 0;
    top: 1130px;
}

#about>p>b{
    position: absolute;
    width: 142px;
    height: 82px;
    margin-left: 820px;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 70px;
    top: 1000px;
    color: deepskyblue;

}
#about>h1{
    position: absolute;
    width: 155px;
    height: 0px;
    border: 3px solid #0BAFD2;
    left: 845px;
    top: 1085px;
}

#about>#im>h1{
    position: absolute;
    color: white;
    letter-spacing: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 79px;
    height: 56px;
    
    left: 100px;
    top: 1100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 56px;
    bottom: -200px;
}

#about>div>p{
    position: absolute;
    color: white;
    
    top: 1150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 38px;
    margin-left: 280px;

    margin-bottom: 70px;
    right: 700px;


}

#about>#detail>h2{
   /* position: absolute;*/
    position: relative;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 20px;
    top: 500px;
    margin-left: 280px;

}

#about>div>p>h1{
    color: #49DC72;
}


#about>div>h2{
    color: white;
    bottom: 40px;
}




#Education{
    height: 90vh;
}

#Education>p>b{
    position: absolute;
    width: 142px;
    height: 82px;
    margin-left: 820px;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 70px;

    color: deepskyblue;
}







